<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="MissingLeanbackLauncher">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:banner="@drawable/icon"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="zb.zebra.MenuActivity"
            android:exported="false"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="zb.zebra.IptvActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="zb.zebra.IptvSelectorActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="zb.zebra.AdultActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="zb.zebra.VodPlayActivity" 
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.nobar.Leanback" />
        <activity android:name="zb.zebra.FilmZebraActivity" 
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity android:name="zb.zebra.SecretActivity" 
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity android:name="zb.zebra.ZebraFilmDetailsActivity" 
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity android:name="zb.zebra.ZebraTvshowDetailsActivity" 
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity android:name="zb.zebra.ZebraSaisonDetailsActivity" 
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity android:name="zb.zebra.TvshowZebraActivity" 
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity android:name="zb.zebra.ActiveCodeActivity" 
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity android:name="zb.zebra.MainActivity" 
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />

            </intent-filter>
        </activity>
        <service
            android:name="zb.zebra.MyService"
            android:enabled="true"
            android:exported="true" android:stopWithTask="true"> </service>
    </application>

</manifest>